{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <title>{{title}}</title>
    {% endblock %}
    <link href="https://cdn.bootcss.com/bulma/0.6.2/css/bulma.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "show/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "show/css/font-awesome.min.css" %}">
    <style>
        #footer{
            position: fixed;;
            bottom: 0;
            width: 100%;
            text-align: center;
            overflow : hidden
        }
    </style>
  </head>
    <body>
        <nav class="navbar is-transparent">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/#">********项目</a>
                    <div class="navbar-burger burger is-active" onclick="toggleClass(this, 'is-active')">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div id="navMenuTransparent" class="navbar-menu is-active">
                    <div class="navbar-start">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                用户
                            </a>
                            <div class="navbar-dropdown is-boxed">
                                <a class="navbar-item" href="{% url "project" %}">我的项目</a>
                                <a class="navbar-item" href="{% url "edit" %}"">个人资料</a>
                            </div>
                        </div>
                            <a class="navbar-item" href="/#" title="关于"><span class="bd-emoji">⭐️关于</span></a>
                        </div>

                    <div class="navbar-end">
                        {% if user.is_authenticated %}
                            <a class="navbar-item" href="{% url 'logout'%}">注销 </a>
                        {% else %}
                            <a class="navbar-item" href="{% url 'login'%}">登陆 </a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </nav>

    <div class="main is-flex-mobile">
        {% block content %}

        {% endblock %}
  </div>

<script type="text/javascript" color="72,186,255" opacity="1.7" zindex="-2" count="99" src="{% static 'show/js/nest.js' %}"></script>
<script type="text/javascript">
        function hasClass(ele, cls) {
            return ele.className.match(new RegExp("(\\s|^)" + cls + "(\\s|$)"));
        }

        function addClass(ele, cls) {
            if (!this.hasClass(ele, cls)) ele.className += " " + cls;
        }

        function removeClass(ele, cls) {
            if (hasClass(ele, cls)) {
                let reg = new RegExp("(\\s|^)" + cls + "(\\s|$)");
                ele.className = ele.className.replace(reg, " ");
            }
        }

        function toggleClass(ele, cls) {
            let ele2 = document.getElementById('navMenuTransparent')
            if (hasClass(ele, cls)) {
                removeClass(ele2, cls);
                removeClass(ele, cls);
            } else {
                addClass(ele, cls);
                addClass(ele2, cls);
            }
        }
</script>

<!-- <div class="content has-text-centered" id="footer">
        <p>
            ©<a href="#">Web 共享项目</a> 由 <a href="#">Django </a> & <a href="https://bulma.io/">bulma</a> 驱动.
        </p>
</div> -->
</body>
<footer id="footer">
  <div class="container">
    <div class="content has-text-centered">
        <p>
            ©<a href="#">Web 共享项目</a> 由 <a href="#">Django </a> & <a href="https://bulma.io/">bulma</a> 驱动.
        </p>
    </div>
  </div>
</footer>
</html>