{% extends "base.html" %}
{% block content%}

<div class="hero-body">
<div class="container">
      <div class="intro-columns">
        <div class="intro-column is-video">
            <div class="bd-book-content">
                <header class="block bd-book-header">
                    <strong class="tag is-info">请登录</strong>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        {{ regstatus }}
                        <div class="field">
                          <label class="label">学号</label>
                          <div class="control">
                                {{ form.username }}
                          </div>
                        </div>
                        
                        <div class="field">
                          <label class="label">密码</label>
                          <div class="control">
                                {{ form.password }}
                          </div>
                        </div>
                        {% if status %}
                        {%else%}
                            <p class="help is-danger">{{message}}</p>
                        {% endif %}
                       <div class="control">
                        <input type="hidden" name="next" value="{{ next }}" />
                         <button class="button is-success" type="submit">登陆</button>
                        <a href="{% url 'reg' %}" class="button is-info">注册</a>
                       </div>
                        
                    </form>
                </header>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}